/* this is a css style sheet, the syntax for a comment in CSS is different because it's a separate language to HTML */
/* below I am calling all the different HTML elements that I have used in the page and describing how it should be rendered on screen within the {curly brackets}. */
body {
    background: rgb(165, 210, 185);
    color: rgb(38, 105, 79);
}

h1 {
    color: rgb(7, 104, 31);
    text-align: center;
}

h2 {
    color: rgb(97, 149, 113);
}

p {
    color: rgb(179, 233, 125);
}

footer {
    position: fixed; bottom: 0em;
}

/* to call a class put a . before its name */
.newacronym{
    color: rgb(201, 249, 233);
}

.box1 {
    border: thin  rgb(112, 108, 110);
    padding: 1em;
}